* {
    margin: 0;
    padding: 0;
    User-select: none;
}

li {
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
}


/*背景颜色*/
body {
    background: #000028;
}

/*居中*/
.center {
    width: 1220px;
    height: 80px;
    margin: 0 auto;
}

/*头部开始*/
.header {
    width: 100%;
    height: 80px;
}

/*logo设置*/

.header img {
    float: left;
    width: 70px;
    height: 70px;
    margin: 5px 0 5px 0;
}

/*站点名*/
.site-name {
    float: left;
    width: 300px;
    height: 30px;
    text-align: center;
    color: #FFFFFF;
    font-size: 22px;
    margin: 25px 0;
}

.nav-bar ul li a {
    display: block;
    height: 30px;
    width: 70px;
    text-align: center;
    line-height: 30px;
    margin: 5px;
    font-size: 16px;
    color: #FFFFFF;
}

.nav-bar {
    width: 500px;
    height: 80px;
    float: left;
    margin: 0 0 0 350px;
}

.nav-bar ul li {
    height: 40px;
    width: 80px;
    float: left;
    margin: 20px;
}

/*主体开始*/
.content {
    width: 1220px;
    height: 600px;
    margin: 50px auto 0;

}

/*列表图标*/
.list-logo {
    float: left;
    width: 24px;
    margin: 3px 0;
}

.mirror-list {
    float: left;
    width: 100px;
    height: 30px;
    font-size: 24px;
    line-height: 30px;
    font-weight:bold;
    margin: 0 5px;
    color: #FFFFFF;
}

.left-list {
    float: left;
    width: 800px;
    height: 600px;
}

.list-header {
    height: 40px;
}

#search {
    float: right;
    border: 1px solid #e3e3e3;
    width: 200px;
    height: 30px;
    padding-left: 8px;
    background: transparent;
    color: #FFFFFF;
}

.message {
    width: 800px;
    height: 50px;
    border-bottom: 2px solid #FFFFFF;
}

.name {
    float: left;
    font-size: 16px;
    width: 200px;
    height: 30px;
    line-height: 30px;
    margin: 10px auto 10px 29px;
    color: #FFFFFF;
}

.last-update {
    font-size: 16px;
    float: right;
    width: 200px;
    height: 30px;
    line-height: 30px;
    margin: 10px auto;
    color: #FFFFFF;
}
.right {
    float: left;
    width: 420px;
}
/*更新公告*/
.news {
    width: 390px;
    margin: 30px 15px 0 15px;
}
.news-header {
    width: 390px;
    height: 40px;
}
.news img {
    float: left;
    width: 30px;
    margin: 5px 0;
}
.news-title {
    float: left;
    color: #FFFFFF;
    width: 100px;
    height: 30px;
    font-weight:bold;
    line-height: 30px;
    margin: 5px 0 5px 5px;
}
.news li {
    color: #DDDDDD;
    font-size: 14px;
    width: 390px;
    height: 40px;
    line-height: 40px;
}
.news li span {
    float: left;
    display: block;
    width: 30px;
    height: 40px;
    text-align: center;
    font-size: 60px;
}
/*资源*/
.resource li {
    width: 300px;
    height: 40px;
}
.resource ul {
    float: left;
}
.resource li a {
    display: block;
    width: 180px;
    height: 40px;
    line-height: 40px;
    color: blue;
    font-size: 16px;
    margin: 0 29px;
}
.resource li a:hover {
    color: #ff6700;
    transition: all .2s
;
}
.date ul {
    width: 200px;
    float: right;
}
.date li {
    float: right;
    width: 200px;
    height: 40px;
    line-height: 40px;
    color: #FFFFFF;
}
/*注意事项*/
.announcements {
    width: 390px;
    margin: 30px 15px 0 15px;
}

.announcements li span {
    float: left;
    display: block;
    width: 30px;
    height: 40px;
    font-size: 60px;
    text-align: center;
}
.announcements img {
    float: left;
    width: 30px;
    margin: 5px 0;
}

.ano-header {
    width: 390px;
    height: 40px;
}

.ano-title {
    float: left;
    color: #FFFFFF;
    width: 100px;
    height: 30px;
    font-weight:bold;
    line-height: 30px;
    margin: 5px 0 5px 5px;
}
.announcements li {
    color: #DDDDDD;
    font-size: 14px;
    width: 390px;
    height: 40px;
    line-height: 40px;
}
/*资源更新*/
.upload-files {
    width: 390px;
    margin: 30px 15px 0 15px;
}
.upload-header {
    width: 390px;
    height: 40px;
}
.upload-title {
    color: #FFFFFF;
    width: 100px;
    height: 30px;
    font-weight:bold;
    line-height: 30px;
    margin: 5px 0 5px 5px;
}
.upload-files img {
    float: left;
    width: 30px;
    margin: 5px 0;
}
.tips {
    display: block;
    width: 390px;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    color: red;
}
.upload {
    height: 40px;
    margin: 10px 35px;
}
/*上传按钮*/
#upload-btn {
    float: left;
    width: 60px;
    height: 30px;
    margin: 5px 0;

}

.upload-tips {
    float: left;
    display: block;
    width: 80px;
    height: 30px;
    color: blanchedalmond;
    font-size: 12px;
    line-height: 30px;
    margin: 5px 10px;
}
